/* #region ============ License Area ============ */

.license-footer-bar {
    width: 100vw;
    height: 5vh;

    display: flex;
    align-items: center;
    justify-content: space-around;

    background-color: var(--programming-languages-background-color);
    border-bottom: 3px ridge var(--color-palette-additional-accent);
    color: var(--color-palette-accent);
    font: normal normal normal 1rem Heebo;

    .name-year {
        justify-self: flex-start;
    }

    .license-message {
        justify-self: flex-end;
    }
}

/* #endregion */

@media (max-width: 1024px) and (min-width: 768px) {
    .license-footer-bar {
        padding-block: 0;
        height: 5vh;
        font-size: 0.75rem;
    }
}

@media (max-width: 768px) {
    .license-footer-bar {
        height: 10vh;

        flex-direction: column;
        justify-content: center;

        padding-block: 4vh;
        gap: 0;

        font-size: 1.1em;
    }
}
