* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-content: center;
    justify-content: center;
    gap: 30px;
}

.clock {
    width: 300px;
    height: 100px;

    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;

    box-shadow: 3px 6px 12px 12px silver;
    border-radius: 12px;
    text-align: center;

    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;

    h1 {
        font-size: 20px;
        text-decoration: underline;
    }

    h2 {
        width: fit-content;
        margin: auto;

        user-select: none;
        position: relative;

        display: flex;
        align-content: center;
        justify-content: center;

        margin-top: 10px;

        font-size: 17px;
        font-weight: bold;
        letter-spacing: 0px;
        font-family: "Orbitron", "JetBrains Mono";

        transform: translateY(0);
        transition: transform 0.2s ease-in-out;

        .digit-area,
        .separator-area {
            display: flex;
            flex-direction: column;
            gap: 1px;
        }

        .separator-area .top,
        .separator-area .bottom {
            color: transparent;
            user-select: none;
        }

        .digit.top,
        .separator-area .top,
        .separator-area .bottom {
            filter: brightness(0.9);
        }

        .digit {
            background-color: #616161;
        }

        span {
            text-align: center;
        }

        .border-right,
        .border-left {
            width: 20px;
            height: 50%;

            margin-top: 12.5%;
            display: flex;
            flex-direction: column;
            /* align-self: center; */
            /* justify-self: center; */

            border: 1px solid black;
            background-color: gray;

            transform-style: preserve-3d;
        }

        .border-right {
            transform: rotateY(60deg);
            margin-left: -3px;
        }

        .border-left {
            margin-right: -3px;
            transform: rotateY(-60deg);
        }
    }
}

@keyframes updateDigit {
    0% {
        opacity: 0;
        transform: rotateX(-90deg) translateY(0) rotateZ(0);
    }

    50% {
        opacity: 0.5;
        transform: rotateX(-45deg) translateY(0) rotateZ(0);
    }

    100% {
        opacity: 1;
        transform: rotateX(0) translateY(22px) rotateZ(0);
    }
}
