* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.programming-lang-info {
    border: 3px groove black;
    margin-top: 100px;
    width: 100vw;

    display: grid;
    grid-template-columns: 3fr repeat(4, 1fr) 3fr;
    grid-template-rows: repeat(4, 1fr);
    grid-gap: 20px;
    align-items: center;

    /* English Language Support */
    &.lang-en {
        .curr-lang-logo {
            width: 125%;
            height: 125%;

            margin-top: -4%;
            margin-left: -4%;

            grid-area: 2 / 4 / 4 / 5;
        }

        h2 {
            align-self: flex-end;
            justify-self: flex-start;
            text-align: left;
            grid-area: 2 / 5 / 3 / 6;
        }

        p {
            justify-self: flex-start;
            text-align: left;
            grid-area: 3 / 5 / 4 / 6;
        }

        .difficulty-rating-title {
            align-self: center;
            justify-self: flex-start;
            grid-area: 2 / 2 / 3 / 3;
        }

        .rating-star {
            width: 100%;
            height: 100%;

            background-image: url(../../images/empty_star.png);
            background-size: contain;
            background-position: center center;
            background-repeat: no-repeat;
        }

        .programming-language-difficulty-rating {
            grid-area: 2 / 3 / 3 / 4;
        }

        .experience-title {
            align-self: center;
            justify-self: flex-start;
            grid-area: 3 / 2 / 4 / 3;
        }

        .programming-language-experience {
            grid-area: 3 / 3 / 4 / 4;
        }
    }

    * {
        align-self: start;
    }

    .curr-lang-logo {
        width: 100%;
        height: 100%;

        grid-area: 2 / 5 / 4 / 6;

        background-image: url("./images/languages_logos/csharp.png");
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center center;
    }

    h2 {
        width: 80%;
        height: fit-content;

        grid-area: 2 / 4 / 3 / 5;
        justify-self: right;
        word-break: break-all;
        text-align: right;
        color: var(--color-palette-additional-accent);
    }

    p {
        height: fit-content;

        grid-area: 3 / 4 / 4 / 5;

        color: var(--color-palette-light-neutral);
        text-align: right;
        justify-self: right;
    }

    .programming-language-difficulty-rating {
        height: 100%;

        display: flex;
        align-items: center;
        justify-content: center;

        grid-area: 2 / 2 / 3 / 3;

        .difficulty-rating-star {
            width: 100%;
            height: 100%;

            background-image: url(../../images/empty_star.png);
            background-size: contain;
            background-position: center center;
            background-repeat: no-repeat;
        }
    }

    .programming-language-experience {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        grid-area: 3 / 2 / 4 / 3;

        .experience-star {
            width: 100%;
            height: 100%;

            background-image: url(../../images/empty_star.png);
            background-size: contain;
            background-position: center center;
            background-repeat: no-repeat;
        }
    }

    .difficulty-rating-title {
        width: fit-content;
        height: fit-content;

        justify-self: right;
        grid-area: 2 / 3 / 3 / 4;
        color: red;
    }

    .experience-title {
        width: fit-content;
        height: fit-content;

        justify-self: right;
        grid-area: 3 / 3 / 4 / 4;
        color: green;
    }
}

/* Mobile Support */
@media (max-width: 768px) {
    .programming-lang-info {
        grid-template-columns: auto 1fr 1fr auto;
        grid-template-rows: auto repeat(8, 1fr) auto;
        grid-gap: 5px;
        align-items: center;

        position: relative;
        text-align: right;

        /* English Language Support */
        &.lang-en {
            .curr-lang-logo {
                width: 50%;
                height: 50%;

                margin-top: 0;
                margin-left: 0;

                grid-area: 2 / 3 / 6 / 4;
            }

            h2 {
                width: 100vw;

                text-align: center;
                grid-area: 6 / 2 / 7 / 4;
            }

            p {
                justify-self: center;
                text-align: center;
                grid-area: 7 / 2 / 8 / 4;
            }

            .rating-star {
                height: 200%;
            }

            .difficulty-rating-title {
                margin-bottom: -20%;
                margin-left: 5%;
                grid-area: 2 / 2 / 3 / 3;
            }

            .programming-language-difficulty-rating {
                grid-area: 3 / 2 / 4 / 3;
            }

            .experience-title {
                margin-top: -10%;
                margin-left: 5%;
                grid-area: 4 / 2 / 5 / 3;
            }

            .programming-language-experience {
                margin-top: -15%;
                grid-area: 5 / 2 / 6 / 3;
            }
        }

        .curr-lang-logo {
            width: 75%;
            height: 75%;

            align-self: center;
            justify-self: center;
            object-fit: cover;
            grid-area: 2 / 2 / 6 / 3;
        }

        h2 {
            width: 80%;
            word-break: break-all;
            justify-self: center;

            grid-area: 6 / 2 / 7 / 4;
        }

        p {
            width: 90%;
            word-break: break-all;
            padding: 1%;

            grid-area: 7 / 2 / 8 / 4;
            justify-self: center;
        }

        .difficulty-rating-title {
            align-self: self-end;
            grid-area: 2 / 3 / 3 / 4;
        }

        .programming-language-difficulty-rating {
            width: 100%;
            height: 50%;

            grid-area: 3 / 3 / 4 / 4;

            .rating-star {
                width: 50%;
            }
        }

        .experience-title {
            align-self: self-start;
            grid-area: 4 / 3 / 5 / 4;
        }

        .programming-language-experience {
            width: 100%;
            height: 50%;

            grid-area: 5 / 3 / 6 / 4;
            margin-top: -20%;

            .rating-star {
                width: 50%;
            }
        }
    }
}
