* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header-area {
    width: 100vw;
    height: fit-content;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding: 10vh;
    background: var(--color-palette-dark-neutral) 0% 0% no-repeat padding-box;

    @media (max-width: 768px) {
    }

    h1 {
        text-align: center;
        text-shadow: 0px 0px 24px white;
        font: normal normal 900 80px/118px Heebo;

        @media (max-width: 768px) {
            width: 100vw;
            font: normal normal 900 32px/70px Heebo;
        }
    }

    p {
        width: 100%;
        text-align: center;
        font: normal normal normal 20px/30px Heebo;

        @media (max-width: 768px) {
            width: 80vw;
            font: normal normal normal 15px/25px Heebo;
        }
    }

    .links-wrapper {
        width: 50vw;
        height: fit-content;

        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: center;

        gap: 20px;
        margin-top: 25px;

        @media (max-width: 768px) {
            flex-direction: column;
        }

        /* View / Download - Links */
        a {
            display: flex;
            align-items: center;
            justify-content: center;

            padding: 0.25vw;
            text-decoration: none;

            border-radius: 50px;
            border: 3px groove black;
            background-color: #008080;

            transition: all 1s ease;

            @media (max-width: 768px) {
                width: 50vw;
                padding: 3px 0;
            }

            img {
                width: 32px;
                height: 32px;

                @media (max-width: 768px) {
                    margin-inline: 10px;
                }
            }

            span {
                padding-right: 1vw;
                color: black;
                font: normal normal bold 20px/37px Assistant;

                @media (max-width: 768px) {
                    text-align: center;
                    font: normal normal bold 16px/27px Assistant;
                    margin-right: 10px;
                }
            }
        }

        a:hover {
            transition: all 1s ease;
            transform: scale(0.8);
        }

        a:hover span,
        a:hover img {
            color: white;
            cursor: url("../../images/cursor-click_24x24.png"), pointer;
            transition: all 1s ease;
        }

        #download-project img {
            filter: brightness(0);
        }

        #link-to-project img {
            filter: brightness(1.5);
        }
    }
}

.used-languages {
    width: 100%;
    height: fit-content;

    display: flex;
    align-items: center;
    justify-content: center;

    gap: 20px;
    margin-block: 3vh;

    border-bottom: 1px solid black;
    padding-bottom: 1%;

    @media (max-width: 768px) {
        padding: 0;
        margin: 0;
        padding-block: 2vh;
    }

    img {
        width: 48px;
        height: 48px;

        object-fit: cover;
        transition: transform 1s ease;

        @media (max-width: 768px) {
            width: 40px;
            height: 40px;
        }
    }

    img:hover {
        transform: scale(1.1);
    }
}

.project-preview {
    width: 100vw;
    height: fit-content;

    display: flex;
    align-items: center;
    justify-content: center;

    margin-block: 5vh;

    background-color: var(--color-palette-dominant);

    @media (max-width: 768px) {
        height: 30vh;
    }

    img {
        width: 50%;
        height: auto;

        box-shadow: 0px 0px 40px #00000066;
        object-fit: cover;

        @media (max-width: 768px) {
            width: 90%;
            height: auto;
        }
    }
}
