@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --navbar-color: rgb(37, 37, 37);
    --transition-duration: 0.4s;
}

body {
    /*
    If Dynamic Virtual Height (DVH)
    is not supported / not working revet back to 100vh
    */
    min-height: 100vh;
    min-height: 100dvh;
}

nav {
    height: min(3rem, 75px);

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.25rem 1rem;

    position: sticky;
    top: 0;
    z-index: 100;

    background-color: var(--navbar-color);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

    & > * {
        height: 100%;
    }
}

.nav-list {
    list-style: none;
    display: flex;
    align-items: center;
    margin-right: auto !important;
    gap: 10px;

    padding: 0;
    margin: 0;

    position: relative;
}

/* Supports languages like hebrew */
[dir="rtl"] .nav-list {
    margin-right: -10px !important;
    margin-left: auto;
    flex-direction: row-reverse;
}

.nav-item {
    position: relative;
    margin: 0 15px;
}

.nav-link {
    display: block;
    padding: 10px 5px;
    position: relative;

    color: var(--color-palette-accent);
    font-size: 1.1rem;
    text-decoration: none;
}

.nav-link:hover {
    color: rgb(22, 158, 158);
}

/* The underline for each link. */
.nav-link::after {
    content: "";
    position: absolute;
    bottom: 3px;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: teal;
    border-radius: 8px;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform var(--transition-duration) ease;
}

/* Supports languages like hebrew for the underline animation */
[dir="rtl"] .nav-link::after {
    transform-origin: right;
}

/* When the link is hovered or already clicked and activated. */
.nav-link:hover::after,
.nav-link:focus::after,
.nav-item.active .nav-link::after {
    /* Extending the underline to full length. */
    transform: scaleX(1);
}

/* 
    The :target pseudo-class is used to capture the element
    that was referenced by the URI's fragment identifier.
    The URI / URL fragment identifier is the part of a URL that in this case
    starts with a hash (#) symbol and specifies an internal target location (an ID).
    It appears after the user clicked an anchor link.

    In this selector we are selecting the rest of the siblings
    of the section element that was targeted.
    and going to the all other nav links and making sure
    there isn't any underline under them if there is then remove it.
*/
section:target ~ nav .nav-item .nav-link::after {
    transform: scaleX(0);
}

/* section:target ~ nav .nav-item a[href="#home"]:target ~ & .nav-link::after {
    transform: scaleX(1);
} */

/* Offset of the sticky navbar */
section {
    min-height: 90vh;
    padding: 0;
    padding-top: min(3rem, 75px);
    margin-top: calc(min(3rem, 75px) * -1);
}

/* Changing the color of the active link to distinguish it from the others */
.nav-item.active .nav-link {
    color: var(--color-palette-additional-accent) !important;
}

#rest-of-navbar {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: end;
    gap: 0px;
}

abbr {
    width: 100%;
    height: 100%;

    color: white;
    text-decoration: none;
    font-size: 1.1rem;

    display: flex;
    align-items: center;
    justify-content: center;
}

nav ul .link-underline {
    width: 3px;
    height: 3px;
    border-radius: 8px;
    background: teal;
    position: absolute;
    top: 78%;
    left: 0;
    /* display: none; */

    transition: transform 0.4s ease-in-out;
}

#links-hamburger-menu {
    display: none;
}

/* In rest-of-navbar */
.profile-area {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 10px;
}

/* In rest-of-navbar */
.extra-features {
    width: fit-content;
    display: flex;

    gap: 10px;
    align-items: center;

    img {
        width: 75%;
        height: 75%;
        justify-self: center;
    }
}

#profile-image {
    width: 40px;
    height: 40px;

    border-radius: 50%;
    border: 3px groove black;

    background-image: url("../images/profile.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

#profile-name {
    width: 150px;
    height: 75%;
    scale: 1.25;
}

#language-change {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.supported-languages {
    width: fit-content;
    opacity: 0;
    z-index: -1;

    padding: 5px;

    border-radius: 8px;
    border: 3px groove black;
    background: teal;

    position: absolute;
    left: 50%;
    top: -300%;

    transform: translateX(-50%);
    transition: transform 0.3s ease, opacity 0.3s ease;
    pointer-events: none;

    text-align: center;
}

.supported-languages::before {
    width: 100%;
    height: 10px;
    content: "";

    position: absolute;
    top: -10px;
    left: 0;

    background: transparent;
}

.supported-languages .change-language-option {
    text-decoration: underline;
    color: var(--color-palette-light-neutral);
    transition: all 1s ease;
}

.supported-languages .change-language-option:hover {
    cursor: url("../images/cursor-click_24x24.png"), default;
}

.supported-languages :not(.change-language-option) {
    cursor: url("../../images/cursor_24x24.png"), default;
    color: var(--color-palette-additional-accent);
    filter: brightness(2);
}

#language-change:hover .supported-languages,
.supported-languages:hover {
    transform: translateY(275%) translateX(-50%);
    z-index: 1;
    opacity: 1;
    pointer-events: auto;
}

#settings-features {
    width: fit-content;
    height: fit-content;
    cursor: url("../images/cursor_24x24.png"), pointer !important;
}

[dir="rtl"] .nav-list {
    flex-direction: row;
}

@media (max-width: 805px) {
    [dir="rtl"] nav,
    nav {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: end;
    }

    [dir="rtl"] nav {
        flex-direction: row-reverse;
    }

    [dir="rtl"] .nav-list,
    .nav-list {
        width: 25vw;
        height: 100vh;

        background-color: rgb(59, 59, 59);

        flex-direction: column;
        align-items: start;

        position: absolute;
        top: 0;
        left: -100%;

        border-right: 1px solid rgba(255, 255, 255, 0.1);
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

        transition: left 0.8s linear;
    }

    /* Making adjustments for rtl languages only. */
    [dir="rtl"] .nav-list {
        right: -100%;
        border-left: 1px solid rgba(255, 255, 255, 0.1);
        transition: right 0.8s linear;
    }

    [dir="rtl"] #links-hamburger-menu,
    #links-hamburger-menu {
        width: 32px;
        height: 32px;

        display: block;
        position: absolute;
        top: 50%;
        left: 10px;

        transform: translateY(-50%);

        mask-image: url("../images/hamburger-menu.png");
        mask-size: contain;
        mask-position: center center;
        mask-repeat: no-repeat;

        background: var(--color-palette-additional-accent);
    }

    [dir="rtl"] #links-hamburger-menu {
        left: auto;
        right: 10px;
    }

    [dir="rtl"] .nav-list.open,
    .nav-list.open {
        z-index: 999;
    }

    .overlay {
        width: 100vw;
        height: 100vh;

        display: none;

        position: absolute;
        top: 0;
        left: 0;
    }

    .overlay.active {
        display: block;
        z-index: 9;
    }

    .nav-list.open {
        left: 0;
    }

    [dir="rtl"] .nav-list.open {
        right: 0;
    }

    [dir="rtl"] .nav-item:first-of-type,
    .nav-item:first-of-type {
        margin-top: 3rem;
    }

    [dir="rtl"] #links-mobile-close-btn,
    #links-mobile-close-btn {
        width: 24px;
        height: 24px;

        display: block;
        position: absolute;
        top: 2vh;
        right: 2vh;

        mask-image: url("../images/close_24px.png");
        mask-size: contain;
        mask-position: center center;
        mask-repeat: no-repeat;

        background-color: var(--color-palette-light-neutral);

        outline: 1px solid white;
    }

    [dir="rtl"] #links-mobile-close-btn {
        /* Clearing / resetting to the default value of the right property. */
        right: auto;
        left: 2vh;
    }

    /* The underline for each link. */
    .nav-link::after {
        width: 3px;
        height: 100%;
        top: 0;
        left: -10px;
        transform: scaleY(0);
        transform-origin: top;
        transition: transform var(--transition-duration) ease;
    }

    /* Supports languages like hebrew for the underline animation */
    [dir="rtl"] .nav-link::after {
        left: none;
        right: -2px;
    }

    /* When the link is hovered or already clicked and activated. */
    .nav-link:hover::after,
    .nav-link:focus::after,
    .nav-item.active .nav-link::after {
        /* Extending the underline to full length. */
        transform: scaleY(1);
    }

    /* 
    The :target pseudo-class is used to capture the element
    that was referenced by the URI's fragment identifier.
    The URI / URL fragment identifier is the part of a URL that in this case
    starts with a hash (#) symbol and specifies an internal target location (an ID).
    It appears after the user clicked an anchor link.

    In this selector we are selecting the rest of the siblings
    of the section element that was targeted.
    and going to the all other nav links and making sure
    there isn't any underline under them if there is then remove it.
*/
    section:target ~ nav .nav-item .nav-link::after {
        transform: scaleY(0);
    }
}

@media (max-width: 426px) {
    [dir="rtl"] .nav-list,
    .nav-list {
        width: fit-content;
    }
}

@media (max-width: 375px) {
    [dir="rtl"] .extra-features,
    .extra-features {
        position: absolute;
        left: -35%;

        display: flex;
        align-items: center;
        justify-content: center;

        scale: 0.75;

        & > * {
            width: fit-content;
            height: fit-content;

            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

    [dir="rtl"] .extra-features {
        left: 50%;
    }

    [dir="rtl"] .profile-area,
    .profile-area {
        scale: 0.75;
    }

    [dir="rtl"] .profile-area {
        margin-right: auto;
    }

    [dir="rtl"] #rest-of-navbar,
    #rest-of-navbar {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: flex-end;

        position: absolute;
        right: -10px;
    }

    [dir="rtl"] #rest-of-navbar {
        flex-direction: row;
        right: none;
        left: 0;
    }

    [dir="rtl"] #links-hamburger-menu {
        z-index: 998;

        outline: 1px solid red;
    }

    [dir="rtl"] #links-mobile-close-btn,
    #links-mobile-close-btn {
        top: 5px;
        right: 5px;
    }

    [dir="rtl"] #links-mobile-close-btn {
        right: auto;
        left: 5px;
    }
}
