@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --navbar-color: rgb(37, 37, 37);
}

body {
    /*
    If Dynamic Virtual Height (DVH)
    is not supported / not working revet back to 100vh
    */
    min-height: 100vh;
    min-height: 100dvh;
}

nav {
    height: min(3rem, 75px);
    /* height: 75px; */
    display: grid;
    align-items: center;
    gap: 20px;
    background-color: var(--navbar-color);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    padding: 0 1rem;

    grid-template-areas: "links spacer profile";

    & > * {
        height: 100%;
        /* border: 1px solid red; */
    }
}

nav ul {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 10px;
    grid-area: links;
    position: relative;
}

nav #rest-of-navbar {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 0px;
    grid-area: profile;
}

nav a,
abbr {
    color: white;
    text-decoration: none;
    font-size: 1.1rem;
}

nav ul li a:hover {
    color: rgb(22, 158, 158);
}

nav .active-link {
    position: relative;
    font-weight: 500;
}

nav .active-link a {
    color: teal;
    position: relative;
}

nav .active-link a::after {
    width: 100%;
    height: 3px;
    content: "";

    position: absolute;
    left: 0;
    bottom: -5px;

    background: teal;
    border-radius: 8px;
    transition: width 0.4s ease-in-out, transform 0.4s ease-in-out;
}

nav ul .dot {
    width: 3px;
    height: 3px;
    border-radius: 50%;
    background: red;
    position: absolute;
    top: 78%;
    left: 0;
    display: none;

    transition: transform 0.4s ease-in-out;
}

nav .active-link.shrink a::after {
    width: 10%;
}

nav ul .dot.animate {
    display: block;
    /* transform: translateX(var(--move-distance, 0)); */
}

#links-hamburger-menu {
    display: none;
}

/* In rest-of-navbar */
.profile-area {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 10px;
}

/* In rest-of-navbar */
.extra-features {
    width: fit-content;
    display: flex;

    gap: 10px;
    align-items: center;

    img {
        width: 70%;
        height: 70%;
        justify-self: center;
    }
}

#profile-image {
    width: 40px;
    height: 40px;

    border-radius: 50%;
    border: 3px groove black;

    background-image: url("../images/profile.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

#profile-name {
    width: 150px;
    height: 75%;
    scale: 1.25;
}

#language-change {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.supported-languages {
    width: fit-content;
    opacity: 0;

    padding: 5px;

    border-radius: 8px;
    border: 3px groove black;
    background: teal;

    position: absolute;
    left: 50%;
    bottom: 0;

    transform: translate(-50%);
    transition: bottom 0.3s ease, opacity 0.3s ease;
    pointer-events: none;

    text-align: center;

    a {
        text-decoration: underline;
        color: var(--color-palette-light-neutral);
        transition: all 1s ease;
    }

    span {
        cursor: url("../../images/cursor_24x24.png"), default;
        color: var(--color-palette-additional-accent);
        filter: brightness(2);
    }
}

.supported-languages::before {
    width: 100%;
    height: 10px;
    content: "";

    position: absolute;
    top: -10px;
    left: 0;

    background: transparent;
}

#language-change:hover .supported-languages,
.supported-languages:hover {
    bottom: -175%;
    opacity: 1;
    pointer-events: auto;
}

#settings-features {
    cursor: url("../../images/cursor_24x24.png"), pointer !important;
}

@media (max-width: 768px) {
    nav {
        width: 100vw;
        height: min(2rem, 75px);

        display: flex;
        align-items: center;
        justify-content: center;

        margin: 0;
        padding: 0;

        position: fixed;
        top: 0;
        right: 0;
    }

    ul {
        width: 40vw;
        height: 100vh;

        display: flex;
        flex-direction: column;
        padding-block: 10px;

        background: var(--navbar-color);

        position: fixed;
        top: 0;
        left: -100%;

        z-index: 10;

        border-right: 1px solid rgba(255, 255, 255, 0.1);
        transition: left 0.4s ease-in-out;
    }

    ul.open {
        left: 0;
    }

    .overlay {
        width: 100vw;
        height: 100vh;

        display: none;

        position: absolute;
        top: 0;
        left: 0;

        background-color: rgba(255, 0, 0, 0.5);
    }

    .overlay.active {
        display: block;
        z-index: 9;
    }

    ul :first-child {
        margin-top: 30px;
    }

    ul li {
        margin-top: 10px;
    }

    ul a {
        height: 1fr;
        padding: 0.5rem 1rem;
        font-size: 1.3rem;
    }

    ul .active-link a::after {
        width: 3px;
        height: 100%;

        top: 0;
        left: 5px;

        animation: active-link-changed-mobile 0.4s ease-in-out;
    }

    #links-hamburger-menu {
        width: 24px;
        height: 24px;

        display: flex;
        align-items: center;
        justify-content: center;

        margin-left: 10px;

        mask-image: url("../images/hamburger-menu.png");
        mask-repeat: no-repeat;
        mask-size: contain;
        mask-position: center center;

        background-color: var(--color-palette-accent);
    }

    #links-mobile-close-btn {
        width: 24px;
        height: 24px;

        display: flex;
        align-items: center;
        justify-content: center;

        position: absolute;
        top: 10px;
        right: 10px;

        mask-image: url("../images/close_24px.png");
        mask-repeat: no-repeat;
        mask-size: contain;
        mask-position: center center;

        background-color: var(--color-palette-accent);
    }

    .profile-area {
        width: 75vw;
        height: min(2em, 75px);
    }

    #profile-image {
        width: 24px;
        height: 24px;
        margin-right: 20px;
    }

    #profile-name {
        height: 100%;
        margin-right: -10px;
    }

    .extra-features {
        display: flex;
        gap: 0;
    }

    abbr,
    #settings-features {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #settings-features,
    #language-change {
        scale: 0.75;
    }

    .supported-languages a,
    .supported-languages span {
        font-size: 0.75rem;
    }

    #language-change:has(.supported-languages a:focus) .supported-languages {
        left: -200%;
        opacity: 1;
        pointer-events: auto;
    }
}

@keyframes active-link-changed-mobile {
    0% {
        height: 100%;
    }

    50% {
        height: 10%;
        transform: translateY(var(--move-distance, 0));
    }

    100% {
        height: 100%;
    }
}

@keyframes active-link-changed {
    0% {
        width: 100%;
    }

    50% {
        width: 10%;
        transform: translateX(var(--move-distance, 0));
    }

    100% {
        width: 100%;
    }
}
