@import url("https://fonts.googleapis.com/css2?family=Teko:wght@300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

:root {
    /* Setting the value equal to 1rem, the default is 16px */
    font-size: 20px;
}

body {
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    font-family: Rubik, "Calibri", serif;
}

.form-control {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-family: Rubik;
}

.container {
    width: 50dvw;
    height: 75dvh;

    margin: 0 auto;
    padding: 20px;

    position: relative;
    text-align: center;
    border-radius: 20px;
    opacity: 0.9;
    font-family: Rubik;

    box-shadow: 10px 10px 10px rgb(82 32 32/ 20%);
    background: linear-gradient(135deg, #ff94bb, #7679d1);
}

input {
    height: 1.5rem;
    padding: 5px;
    border-radius: 5px;

    font-family: Rubik;
    background-color: rgba(0, 0, 0, 0.159);
}

input:focus {
    outline-color: rgb(2, 2, 246);
}

button {
    width: 3rem;
    height: 1.5rem;
    font-size: 0.8rem !important;
    padding: 0 !important;
    font-family: Rubik;
    font-weight: 500 !important;
}

#error-message {
    width: 50dvw;
    position: absolute;
    top: 50%;
    left: 50%;

    color: red;
    font-size: 3.5rem;
    font-family: teko;

    transform: translate(-50%, -50%);
}

.weather-info {
    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);
}

#weather-icon {
    user-select: none;
}

#description {
    text-transform: capitalize;
    font-size: 1.2rem;
}

#temp {
    font-size: 1.2rem;
    margin-top: 10px;
}

#lows-and-highs {
    margin-top: 10px;
    font-size: 1.1rem;
}

#feels-like {
    margin-top: 10px;
    position: relative;

    .text {
        font-size: 1.1rem;
    }

    #feels-like-info {
        width: 16px;
        height: 16px;

        margin-top: 10px;
        font-size: 1.1rem;
        position: absolute;
        top: 12.5%;
        left: 10%;

        user-select: none;

        z-index: 998;
        border-radius: 50%;
        background-color: rgb(20, 168, 168);
        translate: -50% -50%;

        scale: 1.2;
    }

    #feels-like-info:after {
        width: 32px;
        height: 32px;
        content: "";

        display: block;
        position: absolute;
        top: 50%;
        left: 50%;

        background: red;

        z-index: 999;

        transform: translate(-50%, -50%) scale(1.2);
    }
}

#humidity {
    margin-top: 10px;
    font-size: 1.1rem;
}

#wind-speed {
    margin-top: 10px;
    font-size: 1.1rem;
}

#sunrise-and-sunset {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 3rem;
    font-size: 1.1rem;

    position: relative;
}

#sunrise,
#sunset {
    width: 1fr;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 0.75rem;
}

#sunrise img,
#sunset img {
    width: 32px;
    height: 32px;

    font-size: 0.5rem;
}

.top-circle-arch {
    width: 75%;
    height: 100%;

    position: absolute;
    top: 0%;
    left: 50%;

    border-radius: 50%;
    border: none;
    border-top: 2px dashed black;

    transform: translate(-50%, -50%);
}

.hidden {
    display: none;
}
