@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: Rubik;
    overflow-x: none !important;
}

.test {
    width: 100px;
    height: 100px;
    background-color: silver;
}

label {
    cursor: url("../../../images/select-cursor_24x24.png"), text;
}

.users-management {
    width: 100%;
    height: 100%;

    position: absolute;
    bottom: 0;
    left: 0;

    overflow-x: hidden;

    display: flex;
    flex-direction: column;

    padding: 0.5rem;
    gap: 0.5rem;

    background: gray;
    border: 3px groove black;

    /* For each direct child of this element do the following. */
    & > * {
        padding: 0.55rem 1rem;
    }
}

.hidden {
    display: none;
}

.error {
    border: 2px groove red !important;
}

.form-control {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 5px;
}

.helper {
    color: red;
    font-size: 0.8rem;
}

input {
    height: 1.5rem;

    border-radius: 4px;
    border: 1px solid black;
}

footer {
    height: 1fr;
    font-size: 0.8rem;

    h3 {
        font-size: 0.9rem;
    }

    ul {
        list-style: none;
        display: flex;
        justify-content: space-evenly;
        margin-top: 1%;

        a {
            text-underline-offset: 2.5px;
        }
    }
}

#edit-dialog {
    width: fit-content;
    height: fit-content;

    opacity: 0;
    padding: 1vw;
    gap: 1vh;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    border-radius: 8px;
    background-color: tomato;
    border: 1px solid brown;
    z-index: -1;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    transition: all 0.5s ease-in-out;

    h2 {
        color: blueviolet;
        font-size: 2rem;
    }

    .data {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        gap: 0.75vh;

        margin-block: 2vh;
        margin-inline: auto;
    }

    label {
        color: darkturquoise;
        font-size: 1rem;
    }

    button {
        width: 7rem;
        height: 2rem;
    }

    .buttons {
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        align-items: flex-end;
        gap: 1vw;
    }

    .form-control.horizontal {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        gap: 0.5vw;
    }

    input {
        outline: none;
        text-indent: 1.5px;
    }
}

#edit-dialog.shown {
    opacity: 1;
    z-index: 100;
}

input:read-only {
    background-color: lightgray;
    color: black;
    cursor: url("../../../images/unavailable-cursor_24x24.png"), not-allowed;
    outline: none;
    user-select: none;
}

@media (max-width: 768px) {
    body {
        width: 100svw !important;
        height: 100svh !important;
    }
}

/* Mobile Support @media (max-width: 768px) {
    #registration-form {
        justify-self: center;
    }

    #login-form,
    #registration-form {
        font-size: 1.5rem;
    }
}

@media (max-width: 480px) {
    .users-management {
        width: 100%;
        padding: 0.5rem;
        gap: 10px;
    }

    #login-form,
    #registration-form {
        width: min(95%, 1200px);
        margin: 0 auto;
        font-size: 1rem;
    }

    #users-management-form {
        width: min(95%, 1200px);
        margin: 0 auto;
        font-size: var(width);
    }
} */
