body {
    color: var(--color-palette-light-neutral);
    font: normal normal normal 15px Heebo;
}

.page-content-wrapper {
    width: 100%;
    max-width: 100vw;
    overflow-x: hidden;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    text-align: center;
}

h1,
h2,
h3 {
    display: inline-block;
    width: auto;
    position: relative;
}

h2,
h3 {
    margin-block: 1em;
}

h1 {
    font-size: 3rem;
    margin-top: min(1rem, 50px);
    position: relative;
    color: var(--color-palette-accent);
}

h1::after,
h2::after,
h3::after {
    width: 100%;
    height: 2px;

    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;

    background-color: var(--color-palette-additional-accent);
    border-radius: 16px;
}

h2 {
    font-size: 2rem;
    position: relative;
}

h2::after {
    background-color: var(--color-palette-accent);
}

h3 {
    font-size: 1.5rem;
    position: relative;
}

h3::after {
    background-color: var(--color-palette-accent);
}

p {
    width: fit-content;
    max-width: 80%;
    text-align: start;
}

.guide-step {
    width: 100%;
    margin-bottom: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: start;
}

.guide-step span {
    width: fit-content !important;
    display: block;
    margin-bottom: 0.5rem;
    width: 100%;
    text-align: start;
    /* outline: 1px solid white; */
}

.guide-step img {
    max-width: 80%;
    height: auto;
    width: auto;
    max-height: 400px;
    object-fit: contain;
    border: 1px solid #e0e0e0;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

code {
    background: gray;
    padding-inline: 4px;
    border-radius: 4px;
    font: normal normal normal 15px Heebo;
}

h2,
h3,
p,
.page-content-wrapper span,
.page-content-wrapper img {
    margin-inline: 10vw;
}

/* Fixing the supported dialog issue. */
#language-change:hover .supported-languages,
.supported-languages:hover {
    transform: translateY(250%) translateX(-50%);
    z-index: 3;
    opacity: 1;
    pointer-events: auto;
}

@media (max-width: 1024px) {
    h1 {
        font-size: 2.5rem !important;
    }

    h2 {
        font-size: 1.75rem !important;
    }

    h3 {
        font-size: 1.25rem !important;
    }

    h1::after,
    h2::after,
    h3::after {
        width: 100%;
    }

    p,
    code {
        font-size: 14px !important;
    }
}

@media (max-width: 620px) {
    h1 {
        width: 90%;
        font-size: 2rem !important;
    }

    h2 {
        width: 75%;
        font-size: 1.5rem !important;
    }

    h3 {
        font-size: 1.1rem !important;
    }

    h1::after,
    h2::after,
    h3::after {
        width: 100%;
    }

    p,
    code {
        font-size: 13px !important;
    }
}
