@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#cards-container {
    gap: 20px;
    padding: 10px;
}

#cards-container img {
    height: 35%;
}

.fa.fa-heart {
    color: black;
}

.fa.fa-heart:hover {
    color: red;
    cursor: pointer;
}

.fa.fa-heart.liked {
    color: red;
}

#search-sort,
#search-order {
    text-align: start;
    direction: rtl;
}

#search-sort {
    border-radius: 8px;
    font-family: Rubik;

    background: teal 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border: 3px groove black;

    option {
        border: 4px solid black;
    }

    option:hover {
        background: none !important;
        color: white;
        font-weight: 500;
    }

    &:hover {
        cursor: pointer;
        option:hover {
            background: none !important;
        }
    }
}

.select-area {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;

    margin-block: auto;
    margin-inline: 1rem;

    direction: rtl;
    text-align: start;

    gap: 0;

    text-indent: 0.2rem;

    label {
        width: fit-content;
        height: fit-content;

        margin-bottom: 0.1rem;

        font-size: 0.8rem;
        font-weight: 500;
        color: white;
    }
}

#order-image {
    width: 24px;
    height: 24px;

    background-image: url("../images/icons8-ascending-up-24.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    z-index: 1;

    margin: 4vw;
}

#btn-sort {
    width: 6%;
    height: 6%;

    border-radius: 8px;
    background: teal 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;

    margin-block: auto;

    transition: transform 0.5s ease-in-out;

    &:hover {
        transform: scale(0.8);
    }
}

.hidden {
    opacity: 0;
}

@keyframes order-opacity-animation {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
