:root {
    --icon-size: 16px;
}

#users-management-form {
    height: 1fr;

    display: flex;
    flex-direction: column;
    align-content: flex-start;
    align-self: center;
    background-color: brown;

    border-radius: 8px;

    h2 {
        text-decoration: underline;
    }

    table {
        margin-top: 0.5rem;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
        border-radius: 8px;
        background: white;
        text-align: center;
        border-collapse: collapse;

        th,
        td {
            justify-self: center;
            border: 1px solid black;
            padding: 0.5rem;

            background: lightblue;
        }

        .action-btn-logout {
            border-right: none;
        }

        .action-btn-delete {
            border: none !important;
            border-bottom: 1px solid black !important;
        }

        .action-btn-edit {
            border-left: none;
        }

        .text-logout {
            display: block;
        }

        .icon-logout {
            width: var(--icon-size);
            height: var(--icon-size);

            display: none;
            background-image: url("../images/logout.png");
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center center;
        }

        .text-delete {
            display: block;
        }

        .icon-delete {
            width: var(--icon-size);
            height: var(--icon-size);

            display: none;
            background-image: url("../images/delete.png");
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center center;
        }

        .text-edit {
            display: block;
        }

        .icon-edit {
            width: var(--icon-size);
            height: var(--icon-size);

            display: none;
            background-image: url("../images/edit.png");
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center center;
        }
    }
}

.user-id {
    width: 30px !important;
}

@media (max-width: 768px) {
    .text-logout {
        display: none !important;
    }

    .icon-logout {
        display: block !important;
    }

    .text-delete {
        display: none !important;
    }

    .icon-delete {
        display: block !important;
    }

    .text-edit {
        display: none !important;
    }

    .icon-edit {
        display: block !important;
    }
}

@media (max-width: 700px) {
    #users-management-form {
        scale: 0.8;
    }
}

@media (max-width: 550px) {
    #users-management-form {
        scale: 0.7;
    }
}

@media (max-width: 450px) {
    #users-management-form {
        scale: 0.6;
    }
}
