.contact-options {
    width: 100%;
    height: fit-content;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    gap: 38px;
    background-color: #ffffff;
    padding: 1vh;

    .contact-option {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        object-fit: cover;
        gap: 10px;
    }
}
