/* ============ Contact Area ============ */

#contact-section {
    width: 90vw;
    height: 75vh;

    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-around;

    margin-inline: auto;

    & > * {
        outline: 1px solid white;
    }
}

#contact-section-image {
    width: 25vw;
    height: 25vw;

    object-fit: contain;
    object-position: center center;
}

#contact-section form {
    width: 1fr;
    height: fit-content;

    padding: 1rem;
}

#form-content {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* All the direct children of form-content */
#form-content > * {
    width: 90%;
    height: 1fr;

    margin-inline: 5%;
}

#form-content .form-title {
    h2 {
        font: normal normal 900 3rem Heebo;
        color: var(--color-palette-accent);

        --outline-thickness: 3px;
    }

    p {
        font: normal normal normal 1.5rem Heebo;
    }
}

#form-content .areas-wrapper {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    margin-block: 10px;
    gap: 10px;

    /* For all areas: */
    & > * {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: center;
    }
}

#form-content input,
#form-content textarea {
    width: 100%;
    padding: 0.1rem;
    border: 1px solid black;
    border-radius: 4px;
    background-color: #e3e3e373;
    text-align: right;
    text-indent: 1px;

    &:focus-within,
    &:focus {
        outline: none;
    }
}

#form-content textarea {
    max-width: min(30rem, 100vw);
    min-height: 5rem;
    max-height: 10rem;
    resize: none;

    field-sizing: content;
    overflow-y: auto;
}

#form-content #submit-btn {
    width: 90%;
    font-family: Heebo;
    font-size: 1rem;
    color: var(--color-palette-additional-accent);
    background-color: rgba(118, 116, 116, 0.783);
    border: 1px groove black;
    border-radius: 8px;
    text-align: center;
}

/* Medium Screens */
@media (max-width: 1024px) and (min-width: 768px) {
    #contact-section {
        display: grid;
        grid-template-areas: "image space" "form";
    }
}

/* Small Screens */
@media (max-width: 768px) {
}
