/* Defining global properties / variables for the mainly used colors.
Primary Color: Charcoal
Secondary Color: Teal
Accent Color: Cyan / Aqua
*/
:root {
	--color-palette-dominant: #36454f;
	--color-palette-complementary: #008080;
	--color-palette-accent: #ffa500;
	--color-palette-light-neutral: #f0f0f0;
	--color-palette-dark-neutral: #2c3e50;
	--color-palette-additional-accent: #e74c3c;

    
}

/* Remove any existing elements margins and paddings */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: var(--color-palette-dominant);
	font-family: "Rubik";
	overflow-x: hidden;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

/* | Class Description |
    This class will make the desired element's text be with a outline
    Element with small text the outline may look incomplete / fragmented,
    for this there is a class called: --outline-thickness of the value 0.4px
    should resolve this issue.
 */
.outline-text {
	--outline-thickness: 1px;
	text-shadow: var(--outline-thickness) var(--outline-thickness) 0 black,
		calc(-1 * var(--outline-thickness)) calc(-1 * var(--outline-thickness)) 0 black,
		var(--outline-thickness) calc(-1 * var(--outline-thickness)) 0 black,
		calc(-1 * var(--outline-thickness)) var(--outline-thickness) 0 black, 0 var(--outline-thickness) 0 black,
		0 calc(-1 * var(--outline-thickness)) 0 black, var(--outline-thickness) 0 0 black,
		calc(-1 * var(--outline-thickness)) 0 0 black;
}
