/* ============ Programming Languages Area ============ */

.programming-languages-and-more-area {
    width: 100%;
    height: 7vh;

    display: grid;
    grid-template-columns: 3fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 3fr;
    grid-template-rows: 1fr 1fr 1fr;
    margin-top: -2vh;
    border: 1px solid black;
    padding: 1vh 0;
    background-color: var(--secondary-color);
    transition: height 0.5s ease-in-out;

    position: relative;
}

.language-card {
    width: 5vh;
    height: 5vh;

    margin: 0 10px;
    transition: transform 0.5s 0.3s ease, filter 0.5s ease;

    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
}

/* The hovered language card */
.programming-languages-and-more-area .language-card:hover {
    transform: scale(1.25);
}

/* #region | Unfocus non-hovered language cards | */
/* by lowering their brightness and scaling them down a bit */

/* Any remaining cards next to the hovered language on the rig
ht. */
.programming-languages-and-more-area .language-card:hover~.language-card,
/* The card next to the hovered language on the left. */
.programming-languages-and-more-area .language-card:has(~ .language-card:hover) {
    transform: scale(0.9);
    filter: brightness(0.5) !important;
}

/* #endregion */

/* | Dropdown Area | */
#dropdown-area {
    width: 100%;
    height: 100%;

    position: absolute;

    background-color: var(--secondary-color);

    z-index: -1;

    transition: height 1s ease-in-out;
}

.language-card:hover ~ #dropdown-area {
    height: 350%;
}

/* | Current Language Logo Image/Icon - Default Styling | */
.curr-lang-logo {
    width: 0%;
    /* height: 5em; */
    height: 0%;

    grid-area: 2 / 4 / 3 / 4;
    margin: 20% -20%;

    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;

    opacity: 0;
    transition: height 1s ease-in-out, width 1s ease-in-out;
}

.language-card:hover ~ .curr-lang-logo {
    opacity: 1;
    height: 100%;
    width: 100%;

    /* background-size: cover; */
    transition: height 1s 0.3s ease-in-out;
}

/* #region | Setting the images of the languages as background | */

/* #region → HTML ← */
.language-card#html {
    background-image: url("../../images/languages_logos/html.png");
    grid-column-start: 2;
}

.language-card:hover#html ~ .curr-lang-logo {
    background-image: url("../../images/languages_logos/html.png");
}

.language-card:hover#html ~ h2::after {
    content: "HTML";
}

/* #endregion */

/* #region → CSS ← */
.language-card#css {
    background-image: url("../../images/languages_logos/css.png");
}

.language-card:hover#css ~ .curr-lang-logo {
    background-image: url("../../images/languages_logos/css.png");
}

.language-card:hover#css ~ h2::after {
    content: "CSS";
}

/* #endregion */

/* #region → JavaScript ← */
.language-card#js {
    background-image: url("../../images/languages_logos/javascript.png");
}

.language-card:hover#js ~ .curr-lang-logo {
    background-image: url("../../images/languages_logos/javascript.png");
}

.language-card:hover#js ~ h2::after {
    content: "JavaScript";
}

/* #endregion */

/* #region → Java ← */
.language-card#java {
    background-image: url("../../images/languages_logos/java.png");
    filter: brightness(1.5);
}

.language-card:hover#java ~ .curr-lang-logo {
    background-image: url("../../images/languages_logos/java.png");
    filter: brightness(1.5);
}

.language-card:hover#java ~ h2::after {
    content: "Java";
}

/* #endregion */

/* #region → Python ← */
.language-card#python {
    background-image: url("../../images/languages_logos/python.png");
}

.language-card:hover#python ~ .curr-lang-logo {
    background-image: url("../../images/languages_logos/python.png");
}

.language-card:hover#python ~ h2::after {
    content: "Python";
}

/* #endregion */

/* #region → Powershell ← */
.language-card#powershell {
    background-image: url("../../images/languages_logos/powershell.png");
}

.language-card:hover#powershell ~ .curr-lang-logo {
    background-image: url("../../images/languages_logos/powershell.png");
}

.language-card:hover#powershell ~ h2::after {
    content: "Powershell";
}

/* #endregion */

/* #region → C# ← */
.language-card#csharp {
    background-image: url("../../images/languages_logos/csharp.png");
}

.language-card:hover#csharp ~ .curr-lang-logo {
    background-image: url("../../images/languages_logos/csharp.png");
}

.language-card:hover#csharp ~ h2::after {
    content: "C Sharp (C#)";
}

/* #endregion */

/* #region → C Plus Plus ← */
.language-card#cpp {
    background-image: url("../../images/languages_logos/c++.png");
}

.language-card:hover#cpp ~ .curr-lang-logo {
    background-image: url("../../images/languages_logos/c++.png");
}

.language-card:hover#cpp ~ h2::after {
    content: "C Plus Plus (C++)";
}

/* #endregion */

/* #region → C ← */
.language-card#c {
    background-image: url("../../images/languages_logos/c.png");
}

.language-card:hover#c ~ .curr-lang-logo {
    background-image: url("../../images/languages_logos/c.png");
}

.language-card:hover#c ~ h2::after {
    content: "C";
}

/* #endregion */

/* #region → Batch ← */
.language-card#batch {
    background-image: url("../../images/languages_logos/batch.png");
}

.language-card:hover#batch ~ .curr-lang-logo {
    background-image: url("../../images/languages_logos/batch.png");
}

.language-card:hover#batch ~ h2::after {
    content: "Batch";
}

/* #endregion */

/* #region → Assembly ← */
.language-card#assembly {
    background-image: url("../../images/languages_logos/assembly.png");
}

.language-card:hover#assembly ~ .curr-lang-logo {
    background-image: url("../../images/languages_logos/assembly.png");
}

.language-card:hover#assembly ~ h2::after {
    content: "Assembly";
}

/* #endregion */

/* #endregion */

/* | Current Language Name - Default Styling | */

.programming-languages-and-more-area h2 {
    height: 0;
    font-size: 0px;
    color: var(--accent-color);

    grid-area: 2 / 5 / 2 / 11;

    margin: 5% 0;
    transition: font-size 1s ease-in-out;
}

.language-card:hover ~ h2 {
    opacity: 1;
    height: fit-content;
    font-size: 30px;
    transition: font-size 1s 0.3s ease-in-out;
}

/* | Current Language Info - Default Styling | */
.programming-languages-and-more-area p {
    height: fit-content;
    color: white;
    font-size: 0;

    grid-area: 3 / 5 / 3 / 11;

    transition: font-size 1s ease-in-out;
}

.language-card:hover ~ p {
    font-size: 20px;
    margin-top: -4.5%;
    transition: font-size 1s 0.3s ease-in-out;
}
