/* ============ Programming Languages Area ============ */

.programming-languages-title {
    width: 100%;
    height: 7vh;

    background-color: var(--color-palette-complementary);
    margin-top: -2vh;
    margin-bottom: 2vh;

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    border-top: 1px solid black;
}

.programming-languages-title > h2 {
    width: 60%;
    height: fit-content;

    margin: 10% 0;

    font-size: 1.25rem;
    color: var(--color-palette-accent);
}

.programming-languages-and-more-area {
    width: 100%;
    height: 8vh;

    display: grid;
    grid-template-columns: 3fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 3fr;
    grid-template-rows: 1fr 1fr 1fr;
    margin-top: -2vh;
    
    padding: 1vh 0;
    background-color: var(--color-palette-complementary);
    transition: height 0.5s ease-in-out;

    position: relative;
}

/* Todo: To figure out a way to make a title and then a star experience rating of the programming languages. Maybe even a info button that when it is hovered then it will show a text with more information about it... */

.language-card {
    width: 5vh;
    height: 5vh;

    margin: 0 10px;
    transition: transform 0.5s 0.3s ease, filter 0.5s ease;

    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
}

/* The hovered language card */
.programming-languages-and-more-area .language-card:hover {
    transform: scale(1.25);
}

/* #region | Unfocus non-hovered language cards | */
/* by lowering their brightness and scaling them down a bit */

/* Any remaining cards next to the hovered language on the rig
ht. */
.programming-languages-and-more-area .language-card:hover~.language-card,
/* The card next to the hovered language on the left. */
.programming-languages-and-more-area .language-card:has(~ .language-card:hover) {
    transform: scale(0.9);
    filter: brightness(0.5) !important;
}

/* #endregion */

/* | Dropdown Area | */
#dropdown-area {
    width: 100%;
    height: 100%;

    border: 1px solid black;
    border-radius: 25%;

    position: absolute;
    background-color: var(--color-palette-complementary);
    z-index: -1;

    transition: height 1s ease-in-out;
}

.language-card:hover ~ #dropdown-area {
    height: 450%;
}

/* #region | Difficulty Level Rating | */

/* #region ⤷ Current Hovered Programming Language Difficulty Rating - Default Styling <-| */

.difficulty-rating-title {
    width: fit-content;
    height: fit-content;
    font-size: 0;

    position: absolute;
    left: 5%;
    top: 165%;

    color: red;

    opacity: 0;
    transition: font-size 1s ease-in-out;
}

.language-card:hover ~ .difficulty-rating-title {
    /* 18.72px = to the default font-size of h3 tag. */
    font-size: 18.72px;

    opacity: 1;
    transition: font-size 1s 0.3s ease-in-out;
}

.programming-language-difficulty-rating {
    width: 0%;
    height: 0%;

    display: flex;
    align-items: center;
    justify-content: center;

    grid-area: 3 / 2 / 3 / 3;
    margin: 40% -80% 0% -80%;
    padding: 5%;

    opacity: 0;
    transition: height 1s ease-in-out, width 1s ease-in-out;
}

.difficulty-rating-star {
    width: 100%;
    height: 100%;

    background-image: url(../../images/empty_star.png);
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
}

.language-card:hover ~ .programming-language-difficulty-rating {
    opacity: 1;
    width: 250%;
    height: 50%;

    transition: height 1s 0.3s ease-in-out;
}

/* #endregion */

/* #region ⤷ Full Stars <-| */

/*
	Got help from chatgpt See the end of the conversation in:
	"Projects\Gal Ben Abu's Portfolio Project\images\advance_css_area_help+source\Rating Stars Selector Improvement - Less Repeating Answer From ChatGPT Model 4o"
*/
.language-card:hover[language="HTML"] ~ .programming-language-difficulty-rating .difficulty-rating-star:nth-child(-n + 1),
.language-card:hover[language="CSS"] ~ .programming-language-difficulty-rating .difficulty-rating-star:nth-child(-n + 3),
.language-card:hover[language="JavaScript"] ~ .programming-language-difficulty-rating .difficulty-rating-star:nth-child(-n + 3),
.language-card:hover[language="Java"] ~ .programming-language-difficulty-rating .difficulty-rating-star:nth-child(-n + 3),
.language-card:hover[language="Python"] ~ .programming-language-difficulty-rating .difficulty-rating-star:nth-child(-n + 2),
.language-card:hover[language="Powershell"] ~ .programming-language-difficulty-rating .difficulty-rating-star:nth-child(-n + 3),
.language-card:hover[language="C#"] ~ .programming-language-difficulty-rating .difficulty-rating-star:nth-child(-n + 3),
.language-card:hover[language="C++"] ~ .programming-language-difficulty-rating .difficulty-rating-star:nth-child(-n + 3),
.language-card:hover[language="C"] ~ .programming-language-difficulty-rating .difficulty-rating-star:nth-child(-n + 4),
.language-card:hover[language="Batch"] ~ .programming-language-difficulty-rating .difficulty-rating-star:nth-child(-n + 4),
.language-card:hover[language="Assembly"] ~ .programming-language-difficulty-rating .difficulty-rating-star:nth-child(-n + 5) {
    background-image: url("../../images/full_star.png");
}

/* #endregion */

/* #region ⤷ Half Stars <-| */

.language-card:hover[language="JavaScript"] ~ .programming-language-difficulty-rating .difficulty-rating-star:nth-child(4),
.language-card:hover[language="Python"] ~ .programming-language-difficulty-rating .difficulty-rating-star:nth-child(3),
.language-card:hover[language="Powershell"] ~ .programming-language-difficulty-rating .difficulty-rating-star:nth-child(4),
.language-card:hover[language="C++"] ~ .programming-language-difficulty-rating .difficulty-rating-star:nth-child(4) {
    background-image: url("../../images/half_star.png");
}

/* #endregion */

/* #endregion */

/* #region | Experience Rating | */

/* #region ⤷ Current Hovered Programming Language Experience Rating - Default Styling <-| */

.experience-title {
    width: fit-content;
    height: fit-content;
    font-size: 0;

    position: absolute;
    left: 5%;
    top: 265%;

    color: green;

    opacity: 0;
    transition: font-size 1s ease-in-out;
}

.language-card:hover ~ .experience-title {
    /* 18.72px = to the default font-size of h3 tag. */
    font-size: 18.72px;

    opacity: 1;
    transition: font-size 1s 0.3s ease-in-out;
}

.programming-language-experience {
    width: 0%;
    height: 0%;

    display: flex;
    align-items: center;
    justify-content: center;

    grid-area: 3 / 2 / 3 / 3;
    margin: 100% -80% 0% -80%;
    padding: 5%;

    opacity: 0;
    transition: height 1s ease-in-out, width 1s ease-in-out;
}

.experience-star {
    width: 100%;
    height: 100%;

    background-image: url(../../images/empty_star.png);
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
}

.language-card:hover ~ .programming-language-experience {
    opacity: 1;
    width: 250%;
    height: 50%;

    transition: height 1s 0.3s ease-in-out;
}

/* #endregion */

/* #region ⤷ Full Stars <-| */

/*
	Got help from chatgpt See the end of the conversation in:
	"Projects\Gal Ben Abu's Portfolio Project\images\advance_css_area_help+source
		\Rating Stars Selector Improvement - Less Repeating Answer From ChatGPT Model 4o"
*/
.language-card:hover[language="HTML"] ~ .programming-language-experience .experience-star:nth-child(-n + 5),
.language-card:hover[language="CSS"] ~ .programming-language-experience .experience-star:nth-child(-n + 3),
.language-card:hover[language="JavaScript"] ~ .programming-language-experience .experience-star:nth-child(-n + 4),
.language-card:hover[language="Java"] ~ .programming-language-experience .experience-star:nth-child(-n + 4),
.language-card:hover[language="Python"] ~ .programming-language-experience .experience-star:nth-child(-n + 4),
.language-card:hover[language="Powershell"] ~ .programming-language-experience .experience-star:nth-child(-n + 4),
.language-card:hover[language="C#"] ~ .programming-language-experience .experience-star:nth-child(-n + 4),
.language-card:hover[language="C++"] ~ .programming-language-experience .experience-star:nth-child(-n + 3),
.language-card:hover[language="C"] ~ .programming-language-experience .experience-star:nth-child(-n + 3),
.language-card:hover[language="Batch"] ~ .programming-language-experience .experience-star:nth-child(-n + 3),
.language-card:hover[language="Assembly"] ~ .programming-language-experience .experience-star:nth-child(-n + 1) {
    background-image: url("../../images/full_star.png");
}

/* #endregion */

/* #region ⤷ Half Stars <-| */

/*
	Got help from chatgpt See the end of the conversation in:
	"Projects\Gal Ben Abu's Portfolio Project\images\advance_css_area_help+source
		\Rating Stars Selector Improvement - Less Repeating Answer From ChatGPT Model 4o"
*/
.language-card:hover[language="CSS"] ~ .programming-language-experience .experience-star:nth-child(4),
.language-card:hover[language="Java"] ~ .programming-language-experience .experience-star:nth-child(5),
.language-card:hover[language="C++"] ~ .programming-language-experience .experience-star:nth-child(4),
.language-card:hover[language="Batch"] ~ .programming-language-experience .experience-star:nth-child(4) {
    background-image: url("../../images/half_star.png");
}

/* #endregion */

/* #endregion */

/* | Current Language Logo Image/Icon - Default Styling | */
.curr-lang-logo {
    width: 0%;
    height: 0%;

    grid-area: 3 / 5 / 4 / 5;
    margin: 30% -20%;

    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;

    opacity: 0;
    transition: height 1s ease-in-out, width 1s ease-in-out;
}

.language-card:hover ~ .curr-lang-logo {
    opacity: 1;
    height: 100%;
    width: 100%;

    /* background-size: cover; */
    transition: height 1s 0.3s ease-in-out;
}

/* #region | Setting the images of the languages as background | */

/* #region → HTML ← */
.language-card#html {
    background-image: url("../../images/languages_logos/html.png");
    /* row-start / col-start / row-end / col-end */
    grid-area: 2 / 2 / 2 / 2;
}

.language-card:hover#html ~ .curr-lang-logo {
    background-image: url("../../images/languages_logos/html.png");
}

.language-card:hover#html ~ h2::after {
    content: "HTML";
}

.language-card:hover#html ~ p::after {
    content: "Hyper Text Markup Language (HTML) is \A a tag based language that is used to structure a website.";
    white-space: pre;
}

/* #endregion */

/* #region → CSS ← */
.language-card#css {
    background-image: url("../../images/languages_logos/css.png");
    /* row-start / col-start / row-end / col-end */
    grid-area: 2 / 3 / 2 / 3;
}

.language-card:hover#css ~ .curr-lang-logo {
    background-image: url("../../images/languages_logos/css.png");
}

.language-card:hover#css ~ h2::after {
    content: "CSS";
}

.language-card:hover#css ~ p::after {
    content: "Cascading Style Sheets also known as CSS is a styling language that is used to control \A the layout and appearance of webpages written in a markup language like HTML.";
    white-space: pre;
}

/* #endregion */

/* #region → JavaScript ← */
.language-card#js {
    background-image: url("../../images/languages_logos/javascript.png");
    /* row-start / col-start / row-end / col-end */
    grid-area: 2 / 4 / 2 / 4;
}

.language-card:hover#js ~ .curr-lang-logo {
    background-image: url("../../images/languages_logos/javascript.png");
}

.language-card:hover#js ~ h2::after {
    content: "JavaScript";
}

.language-card:hover#js ~ p::after {
    content: "Is a high-level, dynamic, and interpreted programming language \A that is used to add interactive functionality (mainly client-side) to webpages.";
    white-space: pre;
}

/* #endregion */

/* #region → Java ← */
.language-card#java {
    background-image: url("../../images/languages_logos/java.png");
    filter: brightness(1.75);
    /* row-start / col-start / row-end / col-end */
    grid-area: 2 / 5 / 2 / 5;
}

.language-card:hover#java ~ .curr-lang-logo {
    background-image: url("../../images/languages_logos/java.png");
    filter: brightness(1.5);
}

.language-card:hover#java ~ h2::after {
    content: "Java";
}

.language-card:hover#java ~ p::after {
    content: "Is a multiplatform, object-oriented programming language that \A runs on billions of devices worldwide.";
    white-space: pre;
}

/* #endregion */

/* #region → Python ← */
.language-card#python {
    background-image: url("../../images/languages_logos/python.png");
    /* row-start / col-start / row-end / col-end */
    grid-area: 2 / 6 / 2 / 6;
}

.language-card:hover#python ~ .curr-lang-logo {
    background-image: url("../../images/languages_logos/python.png");
}

.language-card:hover#python ~ h2::after {
    content: "Python";
}

.language-card:hover#python ~ p::after {
    content: "Is an interpreted, object-oriented, high-level programming language \A with dynamic semantics developed by Guido van Rossum.";
    white-space: pre;
}

/* #endregion */

/* #region → Powershell ← */
.language-card#powershell {
    background-image: url("../../images/languages_logos/powershell.png");
    /* row-start / col-start / row-end / col-end */
    grid-area: 2 / 7 / 2 / 7;
}

.language-card:hover#powershell ~ .curr-lang-logo {
    background-image: url("../../images/languages_logos/powershell.png");
}

.language-card:hover#powershell ~ h2::after {
    content: "Powershell";
}

.language-card:hover#powershell ~ p::after {
    content: "Created by microsoft, is a cross-platform task automation solution made up of \A a command-line shell, a scripting language, and a configuration management framework.";
    white-space: pre;
}

/* #endregion */

/* #region → C# ← */
.language-card#csharp {
    background-image: url("../../images/languages_logos/csharp.png");
    /* row-start / col-start / row-end / col-end */
    grid-area: 2 / 8 / 2 / 8;
}

.language-card:hover#csharp ~ .curr-lang-logo {
    background-image: url("../../images/languages_logos/csharp.png");
}

.language-card:hover#csharp ~ h2::after {
    content: 'C# (pronounced "C-Sharp")';
}

.language-card:hover#csharp ~ p::after {
    content: "Is an object-oriented programming language created \A by Microsoft that runs on the .NET Framework.";
    white-space: pre;
}

/* #endregion */

/* #region → C Plus Plus ← */
.language-card#cpp {
    background-image: url("../../images/languages_logos/c++.png");
    /* row-start / col-start / row-end / col-end */
    grid-area: 2 / 9 / 2 / 9;
}

.language-card:hover#cpp ~ .curr-lang-logo {
    background-image: url("../../images/languages_logos/c++.png");
}

/*
	Overriding the 350% dropdown area height
	to 400% in order to fit the relatively
	longer text properly.
*/
/* .language-card:hover#cpp ~ #dropdown-area {
	height: 400%;
} */

.language-card:hover#cpp ~ h2::after {
    content: "C Plus Plus (C++)";
}

.language-card:hover#cpp ~ p::after {
    content: "C++ (cpp / c plus plus) is a cross-platform language which extends \A the C language, it can be used to create high-performance applications. \A C++ gives programmers a high level of control over system resources and memory.";
    white-space: pre;
}

/* #endregion */

/* #region → C ← */
.language-card#c {
    background-image: url("../../images/languages_logos/c.png");
    /* row-start / col-start / row-end / col-end */
    grid-area: 2 / 10 / 2 / 10;
}

.language-card:hover#c ~ .curr-lang-logo {
    background-image: url("../../images/languages_logos/c.png");
}

.language-card:hover#c ~ h2::after {
    content: "C";
}

.language-card:hover#c ~ p::after {
    content: "Is a procedural language that provides no support for objects and classes, \A but supports built-in data types.";
    white-space: pre;
}

/* #endregion */

/* #region → Batch ← */
.language-card#batch {
    background-image: url("../../images/languages_logos/batch.png");
    /* row-start / col-start / row-end / col-end */
    grid-area: 2 / 11 / 2 / 11;
}

.language-card:hover#batch ~ .curr-lang-logo {
    background-image: url("../../images/languages_logos/batch.png");
}

.language-card:hover#batch ~ h2::after {
    content: "Batch";
}

.language-card:hover#batch ~ p::after {
    content: "Is a scripting language for automating tasks at the OS level through the command line. \A It processes commands sequentially but is not designed to build full applications, \A relying on system-specific syntax.";
    white-space: pre;
}

/* #endregion */

/* #region → Assembly ← */
.language-card#assembly {
    background-image: url("../../images/languages_logos/assembly.png");
    /* row-start / col-start / row-end / col-end */
    grid-area: 2 / 12 / 2 / 12;
}

.language-card:hover#assembly ~ .curr-lang-logo {
    background-image: url("../../images/languages_logos/assembly.png");
}

.language-card:hover#assembly ~ h2::after {
    content: "Assembly";
}

.language-card:hover#assembly ~ p::after {
    content: "Assembly language is a low-level programming language that represents a computer's \A machine language with symbolic equivalents. Each manufacturer has a unique assembly \A language tailored to its specific machine instructions.";
    white-space: pre;
}

/* #endregion */

/* #endregion */

/* | Current Language Name - Default Styling | */
.programming-languages-and-more-area h2 {
    height: fit-content;
    font-size: 0;
    color: var(--color-palette-additional-accent);

    grid-area: 3 / 6 / 3 / 12;

    margin: 7% 0 5% 0;
    transition: font-size 1s ease-in-out;
}

.language-card:hover ~ h2 {
    /* opacity: 1; */
    font-size: 30px;
    transition: font-size 1s 0.3s ease-in-out;
}

/* | Current Language Info - Default Styling | */
.programming-languages-and-more-area p {
    height: fit-content;

    /*
        TODO:
        Need to check how to wrap the text contents to fit
        into the width of the grid-area selected for the element...
    */
    border: 1px solid black;

    color: var(--color-palette-light-neutral);
    font-size: 0;
    grid-area: 4 / 6 / 4 / 12;

    transition: font-size 1s ease-in-out;
}

.language-card:hover ~ p {
    font-size: 20px;
    margin-top: -4.5%;
    transition: font-size 1s 0.3s ease-in-out;
}
