/* ============ Programming Languages Area ============ */

.programming-languages-title {
    width: 100%;
    height: 7vh;

    background-color: var(--programming-languages-background-color);
    margin-top: -2vh;
    margin-bottom: 2vh;

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    border-top: 1px solid black;

    h2 {
        width: 70%;
        height: fit-content;

        margin: 10% 0;

        font-size: 1.25rem;
        color: var(--color-palette-accent);

        @media (max-width: 768px) {
            width: 100%;
            font-size: 0.8em;
        }
    }
}

.programming-languages-and-more-area {
    width: 100%;
    height: 8vh;

    display: grid;
    grid-template-columns: 3fr repeat(11, 1fr) 3fr;
    grid-template-rows: 1fr 1fr 1fr;
    margin-top: -2vh;

    padding: 1vh 0;
    background-color: var(--programming-languages-background-color);
    transition: height 0.5s ease-in-out, margin-bottom 1s ease-in-out;

    border-bottom: 1px solid black;
    position: relative;

    @media (max-width: 768px) {
        height: 25vh;

        display: grid;
        grid-template-columns: 3fr repeat(5, 1fr) 3fr;
        grid-template-rows: 1fr repeat(3, 1fr) 1fr;

        border: 0;
        border-top: 1px dashed black;
    }

    &:has(.language-card:hover) {
        margin-bottom: 11.25%;
        transition: margin-bottom 1s ease-in-out;

        @media (max-width: 768px) {
            margin-bottom: 100%;
            border: 0;
            border-block: 1px dashed black;
            border-inline: 1px solid black;
        }
    }

    .language-card {
        width: 5vh;
        height: 5vh;

        margin: 0 10px;
        transition: transform 0.5s 0.3s ease, filter 0.5s ease;

        background-position: center center;
        background-size: contain;
        background-repeat: no-repeat;

        /* todo: remove later */
        z-index: 2;

        @media (max-width: 768px) {
            margin: 2.5vw;
        }

        /* The hovered language card */
        &:hover {
            transform: scale(1.25);
        }

        /*  Any cards next to the hovered language on the right and then on the left. */
        &:hover ~ .language-card,
        &:has(.language-card:hover) {
            /* Unfocus other language cards by lowering their brightness and scale a bit. */
            transform: scale(0.9);
            filter: brightness(0.5) !important;
        }

        &:hover ~ .programming-lang-info {
            /* Showing the difficulty rating title on language card hover */
            .difficulty-rating-title {
                /* 18.72px = to the default font-size of h3 tag. */
                font-size: 18.72px;

                opacity: 1;
                transition: font-size 1s 0.3s ease-in-out;
            }

            /* Showing the difficulty rating itself with it stars (full, half, empty) */
            .programming-language-difficulty-rating {
                opacity: 1;
                width: 200%;
                height: 50%;

                transition: height 1s 0.3s ease-in-out;
            }

            /* Showing the experience title */
            .experience-title {
                /* 18.72px = to the default font-size of h3 tag. */
                font-size: 18.72px;

                opacity: 1;
                transition: font-size 1s 0.3s ease-in-out;
            }

            /* Showing the experience rating itself */
            .programming-language-experience {
                opacity: 1;
                width: 250%;
                height: 50%;

                transition: height 1s 0.3s ease-in-out;
            }

            /* Showing the Image/Icon of the programming language card that is hovered */
            .curr-lang-logo {
                width: 100%;
                height: 100%;

                opacity: 1;

                /* background-size: cover; */
                transition: height 1s 0.3s ease-in-out;
            }

            /* Showing the programming language name title */
            h2 {
                font-size: 30px;
                transition: font-size 1s 0.3s ease-in-out;
            }

            /*
                Showing the paragraph containing a short description
                about the current programming language, determined by the .language-card that is hovered.
            */
            p {
                font-size: 20px;
                transition: font-size 1s 0.3s ease-in-out;
            }
        }

        /* Opening the dropdown area on language card hover */
        &:hover ~ #dropdown-area {
            height: 400%;

            @media (max-width: 768px) {
                height: 80vh;
            }
        }

        /* #region Stars-Rating */
        /*
            Got help from chatgpt See the end of the conversation in:
            "Projects\Gal Ben Abu's Portfolio Project\images\advance_css_area_help+source\Rating Stars Selector Improvement - Less Repeating Answer From ChatGPT Model 4o"
            Changing the images to show my difficulty rating of each language [Amount of full stars].
        */
        &:hover[language="HTML"]
            ~ .programming-lang-info
            .programming-language-difficulty-rating
            .difficulty-rating-star:nth-child(-n + 1),
        &:hover[language="CSS"]
            ~ .programming-lang-info
            .programming-language-difficulty-rating
            .difficulty-rating-star:nth-child(-n + 3),
        &:hover[language="JavaScript"]
            ~ .programming-lang-info
            .programming-language-difficulty-rating
            .difficulty-rating-star:nth-child(-n + 3),
        &:hover[language="Java"]
            ~ .programming-lang-info
            .programming-language-difficulty-rating
            .difficulty-rating-star:nth-child(-n + 3),
        &:hover[language="Python"]
            ~ .programming-lang-info
            .programming-language-difficulty-rating
            .difficulty-rating-star:nth-child(-n + 2),
        &:hover[language="Powershell"]
            ~ .programming-lang-info
            .programming-language-difficulty-rating
            .difficulty-rating-star:nth-child(-n + 3),
        &:hover[language="C#"]
            ~ .programming-lang-info
            .programming-language-difficulty-rating
            .difficulty-rating-star:nth-child(-n + 3),
        &:hover[language="C++"]
            ~ .programming-lang-info
            .programming-language-difficulty-rating
            .difficulty-rating-star:nth-child(-n + 3),
        &:hover[language="C"]
            ~ .programming-lang-info
            .programming-language-difficulty-rating
            .difficulty-rating-star:nth-child(-n + 4),
        &:hover[language="Batch"]
            ~ .programming-lang-info
            .programming-language-difficulty-rating
            .difficulty-rating-star:nth-child(-n + 4),
        &:hover[language="Assembly"]
            ~ .programming-lang-info
            .programming-language-difficulty-rating
            .difficulty-rating-star:nth-child(-n + 5) {
            background-image: url("../../images/full_star.png");
        }

        /* Half stars for my difficulty level rating */
        &:hover[language="JavaScript"]
            ~ .programming-lang-info
            .programming-language-difficulty-rating
            .difficulty-rating-star:nth-child(4),
        &:hover[language="Python"]
            ~ .programming-lang-info
            .programming-language-difficulty-rating
            .difficulty-rating-star:nth-child(3),
        &:hover[language="Powershell"]
            ~ .programming-lang-info
            .programming-language-difficulty-rating
            .difficulty-rating-star:nth-child(4),
        &:hover[language="C++"]
            ~ .programming-lang-info
            .programming-language-difficulty-rating
            .difficulty-rating-star:nth-child(4) {
            background-image: url("../../images/half_star.png");
        }

        /*
            Got help from chatgpt See the end of the conversation in:
            "Projects\Gal Ben Abu's Portfolio Project\images\advance_css_area_help+source\Rating Stars Selector Improvement - Less Repeating Answer From ChatGPT Model 4o"
            Changing the images to show my experience rating of each language [Amount of full stars].
        */
        &:hover[language="HTML"]
            ~ .programming-lang-info
            .programming-language-experience
            .experience-star:nth-child(-n + 5),
        &:hover[language="CSS"]
            ~ .programming-lang-info
            .programming-language-experience
            .experience-star:nth-child(-n + 3),
        &:hover[language="JavaScript"]
            ~ .programming-lang-info
            .programming-language-experience
            .experience-star:nth-child(-n + 4),
        &:hover[language="Java"]
            ~ .programming-lang-info
            .programming-language-experience
            .experience-star:nth-child(-n + 4),
        &:hover[language="Python"]
            ~ .programming-lang-info
            .programming-language-experience
            .experience-star:nth-child(-n + 4),
        &:hover[language="Powershell"]
            ~ .programming-lang-info
            .programming-language-experience
            .experience-star:nth-child(-n + 4),
        &:hover[language="C#"]
            ~ .programming-lang-info
            .programming-language-experience
            .experience-star:nth-child(-n + 4),
        &:hover[language="C++"]
            ~ .programming-lang-info
            .programming-language-experience
            .experience-star:nth-child(-n + 3),
        &:hover[language="C"]
            ~ .programming-lang-info
            .programming-language-experience
            .experience-star:nth-child(-n + 3),
        &:hover[language="Batch"]
            ~ .programming-lang-info
            .programming-language-experience
            .experience-star:nth-child(-n + 3),
        &:hover[language="Assembly"]
            ~ .programming-lang-info
            .programming-language-experience
            .experience-star:nth-child(-n + 1) {
            background-image: url("../../images/full_star.png");
        }

        /* Half stars for my experience level rating */
        &:hover[language="CSS"]
            ~ .programming-lang-info
            .programming-language-experience
            .experience-star:nth-child(4),
        &:hover[language="Java"]
            ~ .programming-lang-info
            .programming-language-experience
            .experience-star:nth-child(5),
        &:hover[language="C++"]
            ~ .programming-lang-info
            .programming-language-experience
            .experience-star:nth-child(4),
        &:hover[language="Batch"]
            ~ .programming-lang-info
            .programming-language-experience
            .experience-star:nth-child(4) {
            background-image: url("../../images/half_star.png");
        }
        /* #endregion */

        /* #region | Setting the images of the languages as background | */

        /* #region → HTML ← */
        &#html {
            background-image: url("../../images/languages_logos/html.png");
            /* row-start / col-start / row-end / col-end */
            grid-area: 2 / 2 / 2 / 2;
        }

        /* For the image on the dropdown area */
        &:hover#html ~ .programming-lang-info .curr-lang-logo {
            background-image: url("../../images/languages_logos/html.png");
        }

        &:hover#html ~ .programming-lang-info h2::after {
            content: "HTML - Hyper Text Markup Language";
        }

        &:hover#html ~ .programming-lang-info p::after {
            direction: rtl;
            white-space: pre; /* Maintain whitespace and line breaks */
            text-align: right;

            width: 100%;
            content: ".שפה זו בנויה מתגים, אפשר לחשוב עליהם כמו על בלוקים, אלמנטים ו-/או חלקים\A.אשר איתם משתמשים ליצור אתר ברשת";

            /* English Language Support */
            &.lang-en {
                direction: ltr;
                content: "HTML is a tag based language that is used to structure a website.";
            }
        }

        /* #endregion */

        /* #region → CSS ← */
        &#css {
            background-image: url("../../images/languages_logos/css.png");
            /* row-start / col-start / row-end / col-end */
            grid-area: 2 / 3 / 2 / 3;
        }

        &:hover#css ~ .programming-lang-info .curr-lang-logo {
            background-image: url("../../images/languages_logos/css.png");
        }

        &:hover#css ~ .programming-lang-info h2::after {
            content: "CSS";
        }

        &:hover#css ~ .programming-lang-info p::after {
            content: "Cascading Style Sheets also known as CSS is a styling language that is used to control the layout and appearance of webpages written in a markup language like HTML.";
        }

        /* #endregion */

        /* #region → JavaScript ← */
        &#js {
            background-image: url("../../images/languages_logos/javascript.png");
            /* row-start / col-start / row-end / col-end */
            grid-area: 2 / 4 / 2 / 4;
        }

        &:hover#js ~ .programming-lang-info .curr-lang-logo {
            background-image: url("../../images/languages_logos/javascript.png");
        }

        &:hover#js ~ .programming-lang-info h2::after {
            content: "JavaScript";
        }

        &:hover#js ~ .programming-lang-info p::after {
            content: "Is a high-level, dynamic, and interpreted programming language that is used to add interactive functionality (mainly client-side) to webpages.";
        }

        /* #endregion */

        /* #region → Java ← */
        &#java {
            background-image: url("../../images/languages_logos/java.png");
            filter: brightness(1.75);
            /* row-start / col-start / row-end / col-end */
            grid-area: 2 / 5 / 2 / 5;
        }

        &:hover#java ~ .programming-lang-info .curr-lang-logo {
            background-image: url("../../images/languages_logos/java.png");
            filter: brightness(1.5);
        }

        &:hover#java ~ .programming-lang-info h2::after {
            content: "Java";
        }

        &:hover#java ~ .programming-lang-info p::after {
            content: "Is a multiplatform, object-oriented programming language that runs on billions of devices worldwide.";
        }

        /* #endregion */

        /* #region → Python ← */
        &#python {
            background-image: url("../../images/languages_logos/python.png");
            /* row-start / col-start / row-end / col-end */
            grid-area: 2 / 6 / 2 / 6;
        }

        &:hover#python ~ .programming-lang-info .curr-lang-logo {
            background-image: url("../../images/languages_logos/python.png");
        }

        &:hover#python ~ .programming-lang-info h2::after {
            content: "Python";
        }

        &:hover#python ~ .programming-lang-info p::after {
            content: "Is an interpreted, object-oriented, high-level programming language with dynamic semantics developed by Guido van Rossum.";
        }

        /* #endregion */

        /* #region → Powershell ← */
        &#powershell {
            background-image: url("../../images/languages_logos/powershell.png");
            /* row-start / col-start / row-end / col-end */
            grid-area: 2 / 7 / 2 / 7;

            @media (max-width: 768px) {
                grid-area: 3 / 2 / 3 / 2;
            }
        }

        &:hover#powershell ~ .programming-lang-info .curr-lang-logo {
            background-image: url("../../images/languages_logos/powershell.png");
        }

        &:hover#powershell ~ .programming-lang-info h2::after {
            content: "Powershell";
        }

        &:hover#powershell ~ .programming-lang-info p::after {
            content: "Created by microsoft, is a cross-platform task automation solution made up of a command-line shell, a scripting language, and a configuration management framework.";
        }

        /* #endregion */

        /* #region → C# ← */
        &#csharp {
            background-image: url("../../images/languages_logos/csharp.png");
            /* row-start / col-start / row-end / col-end */
            grid-area: 2 / 8 / 2 / 8;

            @media (max-width: 768px) {
                grid-area: 3 / 3 / 3 / 3;
            }
        }

        &:hover#csharp ~ .programming-lang-info .curr-lang-logo {
            background-image: url("../../images/languages_logos/csharp.png");
        }

        &:hover#csharp ~ .programming-lang-info h2::after {
            content: 'C# (pronounced "C-Sharp")';
        }

        &:hover#csharp ~ .programming-lang-info p::after {
            content: "Is an object-oriented programming language created by Microsoft that runs on the .NET Framework.";
        }

        /* #endregion */

        /* #region → C Plus Plus ← */
        &#cpp {
            background-image: url("../../images/languages_logos/c++.png");
            /* row-start / col-start / row-end / col-end */
            grid-area: 2 / 9 / 2 / 9;

            @media (max-width: 768px) {
                grid-area: 3 / 4 / 3 / 4;
            }
        }

        &:hover#cpp ~ .programming-lang-info .curr-lang-logo {
            background-image: url("../../images/languages_logos/c++.png");
        }

        /*
	Overriding the 350% dropdown area height
	to 400% in order to fit the relatively
	longer text properly.
*/
        /* &:hover#cpp ~ #dropdown-area {
	height: 400%;
} */

        &:hover#cpp ~ .programming-lang-info h2::after {
            content: "C Plus Plus (C++)";
        }

        &:hover#cpp ~ .programming-lang-info p::after {
            content: "C++ (cpp / c plus plus) is a cross-platform language which extends the C language, it can be used to create high-performance applications. C++ gives programmers a high level of control over system resources and memory.";
        }

        /* #endregion */

        /* #region → C ← */
        &#c {
            background-image: url("../../images/languages_logos/c.png");
            /* row-start / col-start / row-end / col-end */
            grid-area: 2 / 10 / 2 / 10;
            @media (max-width: 768px) {
                grid-area: 3 / 5 / 3 / 5;
            }
        }

        &:hover#c ~ .programming-lang-info .curr-lang-logo {
            background-image: url("../../images/languages_logos/c.png");
        }

        &:hover#c ~ .programming-lang-info h2::after {
            content: "C";
        }

        &:hover#c ~ .programming-lang-info p::after {
            content: "Is a procedural language that provides no support for objects and classes, but supports built-in data types.";
        }

        /* #endregion */

        /* #region → Batch ← */
        &#batch {
            background-image: url("../../images/languages_logos/batch.png");
            /* row-start / col-start / row-end / col-end */
            grid-area: 2 / 11 / 2 / 11;

            @media (max-width: 768px) {
                grid-area: 3 / 6 / 3 / 6;
            }
        }

        &:hover#batch ~ .programming-lang-info .curr-lang-logo {
            background-image: url("../../images/languages_logos/batch.png");
        }

        &:hover#batch ~ .programming-lang-info h2::after {
            content: "Batch";
        }

        &:hover#batch ~ .programming-lang-info p::after {
            content: "Is a scripting language for automating tasks at the OS level through the command line. It processes commands sequentially but is not designed to build full applications, relying on system-specific syntax.";
        }

        /* #endregion */

        /* #region → Assembly ← */
        &#assembly {
            background-image: url("../../images/languages_logos/assembly.png");
            /* row-start / col-start / row-end / col-end */
            grid-area: 2 / 12 / 2 / 12;
            @media (max-width: 768px) {
                grid-area: 4 / 4 / 4 / 4;
                margin-top: -2.5px;
            }
        }

        &:hover#assembly ~ .programming-lang-info .curr-lang-logo {
            background-image: url("../../images/languages_logos/assembly.png");
        }

        &:hover#assembly ~ .programming-lang-info h2::after {
            content: "Assembly";
        }

        &:hover#assembly ~ .programming-lang-info p::after {
            content: "Assembly language is a low-level programming language that represents a computer's machine language with symbolic equivalents. Each manufacturer has a unique assembly language tailored to its specific machine instructions.";
        }

        /* #endregion */

        /* #endregion */
    }

    .programming-lang-info {
        width: 100%;
        height: 22.3vh;
        border: 1px solid black;

        /*  Taking the whole 3rd row of the parent element's grid */
        grid-area: 3 / 1 / 3 / -1;
        margin-top: 1.5%;

        z-index: 2;
        position: absolute;
        justify-items: center;

        * {
            outline: 1px solid black;
        }

        .curr-lang-logo {
            width: 100px;
            height: 100px;

            position: absolute;
            top: 50%;
            right: 25%;
            transform: translate(-50%, -50%);

            background-image: url("../../images/languages_logos/assembly.png");
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center center;
        }

        h2 {
            width: 80%;
            height: 100%;

            grid-area: 2 / 4 / 3 / 5;
            justify-self: right;
            word-break: break-all;
            text-align: right;
            color: var(--color-palette-additional-accent);
        }

        p {
            height: fit-content;

            grid-area: 3 / 4 / 4 / 5;

            color: var(--color-palette-light-neutral);
            text-align: right;
            justify-self: right;
        }

        .difficulty-rating-title {
            width: fit-content;
            height: fit-content;

            position: absolute;
            top: 25%;
            left: 35%;
            transform: translate(-50%, -50%);

            color: red;
        }

        .programming-language-difficulty-rating {
            width: 10%;
            height: 20%;

            position: absolute;
            top: 25%;
            left: 27%;
            transform: translate(-50%, -50%);

            display: flex;
            align-items: center;
            justify-content: center;

            .difficulty-rating-star {
                width: 100%;
                height: 100%;

                background-image: url(../../images/empty_star.png);
                background-size: contain;
                background-position: center center;
                background-repeat: no-repeat;
            }
        }

        .experience-title {
            width: fit-content;
            height: fit-content;

            position: absolute;
            top: 50%;
            left: 34.2%;
            transform: translate(-50%, -50%);

            color: green;
        }

        .programming-language-experience {
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;

            grid-area: 3 / 2 / 4 / 3;

            .experience-star {
                width: 100%;
                height: 100%;

                background-image: url(../../images/empty_star.png);
                background-size: contain;
                background-position: center center;
                background-repeat: no-repeat;
            }
        }
    }

    /* | Dropdown Area | */
    #dropdown-area {
        width: 100%;
        height: 400%;

        border-bottom: 1px solid black;
        border-radius: 25%;

        position: absolute;
        background-color: var(--programming-languages-background-color);
        z-index: 1;

        transition: height 1s ease-in-out;

        @media (max-width: 768px) {
            width: 100vw;

            position: absolute;
            left: -1px;

            border-radius: 16px;
            border-top: none;
            border: 1px groove black;
        }

        /* English Language Support */
        &.lang-en {
            @media (max-width: 768px) {
            }
        }
    }
}
