/* #region ============ Separator Area ============ */

.separator {
    width: 100vw;
    height: 4vh;
    background: linear-gradient(
        to bottom,
        #36454f 0%,
        var(--color-palette-dark-accent) 60%,
        var(--color-palette-dark-accent) 60%,
        var(--color-palette-dark-accent) 60%,
        var(--color-palette-dark-accent) 60%,
        var(--color-palette-dark-accent) 60%,
        var(--color-palette-dark-accent) 60%,
        var(--color-palette-dark-accent) 60%,
        var(--color-palette-dark-accent) 60%,
        var(--color-palette-dark-accent) 60%,
        #36454f 100%
    );
}

/* #endregion */
