/* ============ Services and Projects Area ============ */

#services-projects,
#js-projects-and-games {
    width: 100%;
    height: fit-content;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

    background-color: transparent;
    padding: 2vh;

    margin-top: 2vh;
}

.projects-area-content {
    width: 75%;
    height: fit-content;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    margin: auto;
    gap: 2vh;
    padding: 1vh;

    border-radius: 8px;
    background-color: #a9a9a9;

    h2 {
        width: fit-content;
        height: fit-content;

        color: var(--color-palette-accent);
        font-size: 40px;
    }

    p {
        width: 50%;
        color: var(--color-palette-dark-neutral);
        font-weight: 500;

        /* English Language Support */
        &.lang-en {
            width: 80%;
        }
    }
}

/* Small Screens Support */
@media (max-width: 768px) {
    .projects-area-content {
        width: 95%;
        padding: 3vw;
    }

    .projects-area-content h2 {
        font-size: 30px;
    }

    .projects-area-content p {
        width: 100%;
        font-weight: 400;
    }
}

/* Medium Screens Support */
@media (min-width: 769px) and (max-width: 1024px) {
    .projects-area-content {
        width: 85%;
    }
}
