/* Importing Google Fonts */
/* Orbitron Font: */
@import url("https://fonts.googleapis.com/css2?family=Assistant:wght@200..800&family=Heebo:wght@100..900&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Orbitron:wght@400..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
/* Rubik Font: */
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
/* Bebas Neue - Static Font */
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.game-container {
    width: 50vw;
    min-height: 50vh;

    padding: 2vh;
    margin: 25vh auto;
    gap: 10px;

    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;

    text-align: center;

    border: 1px solid black;
    border-radius: 5px;
    background-color: gainsboro;

    box-shadow: 0px 0px 30px 0.01px black;

    h1 {
        font-size: 30px;
        text-decoration: 3px underline black;
        text-underline-offset: 6px;
    }

    h2 {
        width: 60%;
        font-size: 20px;
        margin-block: 10px;
        margin-inline: auto;
    }

    .game-configuration {
        width: 50%;
        margin-inline: auto;
        padding: 10px;

        border: 1px solid black;
        gap: 10px;

        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;

        background-color: cornflowerblue;
        border-radius: 10px;

        h3 {
            font-size: 18px;
            text-decoration: underline;
            text-underline-offset: 6px;
            margin-bottom: 6px;
        }

        #difficulty-label,
        #operator-selection-label {
            font-size: 16px;
            font-family: Rubik;
        }
    }

    select {
        width: auto;
        padding-inline: 5px 0px;

        background-color: rgb(147, 184, 252);
        margin-inline: auto;
        text-align: center;

        font-weight: 400;
        font-family: Rubik;

        /* Resetting the border to no border */
        border: none;
        border: 1px solid black;
        border-radius: 16px;

        &:has(option:checked[value="easy"]) {
            color: green;
        }

        &:has(option:checked[value="medium"]) {
            color: yellow;
        }

        &:has(option:checked[value="hard"]) {
            color: rgb(255, 30, 0);
        }

        &:has(option:checked[value="extreme"]) {
            color: rgb(108, 1, 1);
        }
    }

    .difficulty {
        font-weight: 600;

        .easy-difficulty {
            color: green;
            font-weight: 600;
        }

        .medium-difficulty {
            color: yellow;
            font-weight: 600;
        }

        .hard-difficulty {
            color: rgb(255, 30, 0);
            font-weight: 600;
        }

        .extreme-difficulty {
            color: rgb(108, 1, 1);
            font-weight: 600;
        }
    }

    select:focus {
        outline: none;
        border-color: teal;

        /* Default Box Shadow */
        box-shadow: 0 0 5px teal;

        &:has(option:checked[value="easy"]) {
            box-shadow: 0 0 5px green;
        }

        &:has(option:checked[value="medium"]) {
            box-shadow: 0 0 5px yellow;
        }

        &:has(option:checked[value="hard"]) {
            box-shadow: 0 0 5px rgb(255, 30, 0);
        }

        &:has(option:checked[value="extreme"]) {
            box-shadow: 0 0 5px rgb(108, 1, 1);
        }
    }

    .start-game-button {
        width: 30%;
        height: 6%;
        margin-inline: auto;

        background: 0;
        border: 0;
        border: 1px solid black;

        font-weight: 600;
        font-family: Orbitron;

        background-color: cadetblue;
        border-radius: 16px;

        cursor: pointer;

        transition: all 1s ease-in-out;
    }

    .start-game-button:hover {
        transform: scale(0.9);
    }

    /* In Game: */
    .game-toolbar {
        width: 100%;
        min-height: 10%;

        display: flex;
        align-content: center;
        justify-content: flex-start;

        gap: 30px;

        .tool-info-difficulty-level {
            width: auto;
            height: 80%;

            display: flex;
            align-content: center;
            justify-content: center;

            gap: 10px;
            margin-block: auto;
            margin-left: 30px;

            font-family: Orbitron;
            font-weight: 500;
            line-height: 150%;
        }

        .tool-info-operator {
            width: auto;
            height: 80%;

            display: flex;
            align-content: center;
            justify-content: center;

            gap: 10px;
            margin-block: auto;

            font-family: Orbitron;
            font-weight: 500;
            line-height: 150%;
        }
    }

    .game-body {
        width: 100%;
        min-height: 60%;

        border: 1px solid black;

        .question {
            margin-top: 5%;
            font-family: Bebas Neue;
            font-size: 75px;

            user-select: none;
        }

        .answer {
            display: flex;

            flex-direction: column;
            align-content: center;
            justify-content: center;

            gap: 20px;

            .answer-input {
                width: fit-content;
                height: fit-content;

                display: flex;
                align-content: center;
                justify-content: center;

                gap: 10px;
                margin-inline: auto;

                label {
                    font-family: Orbitron;
                    font-size: 15px;
                    font-weight: 600;

                    line-height: 160%;
                }

                input {
                    outline: none;
                    background: none;

                    border: 1px solid black !important;
                    border-radius: 3px;

                    background-color: lightblue;

                    line-height: 150%;
                    text-indent: 5px;
                    caret-shape: block;

                    font-family: Rubik;

                    transition: border 0.1s ease-in-out;

                    cursor: url("../../../images/cursor-click_24x24.png"), pointer;

                    &:focus {
                        border: 3px groove black !important;
                    }
                }

                input[type="number"] {
                    &::-webkit-inner-spin-button,
                    &::-webkit-outer-spin-button {
                        -webkit-appearance: none;
                    }
                }
            }

            #submit-answer {
                width: 20%;
                height: fit-content;

                user-select: none;

                margin-bottom: 20px;
                margin-inline: auto;

                border: 1px groove black !important;
                outline: 3px groove silver !important;

                border-radius: 16px;

                background: none;
                background-color: teal;

                font-size: 15px;
                font-weight: 600;
                font-family: Orbitron;

                cursor: url("../../../images/cursor-click_24x24.png"), pointer;

                transition: all 0.5s ease-in-out;

                &:hover {
                    transform: scale(0.9);
                }
            }
        }
    }

    .game-information {
        width: 100%;
        min-height: 30%;

        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        flex-grow: 10;

        .information-table {
            width: 90%;
            height: 80%;

            align-self: center;

            border: 1px solid black !important;
            border-collapse: collapse;

            thead {
                font-family: Orbitron;
                font-size: 15px;

                tr {
                    background-color: rgb(100, 109, 233);
                }
            }

            tbody {
                font-family: Rubik;
                font-size: 15px;

                tr:nth-child(odd) {
                    background-color: lightskyblue;
                }

                tr:nth-child(even) {
                    background-color: lightseagreen;
                }
            }

            *:not(:last-child) {
                border-right: 1px solid black;
            }

            tr {
                border-top: 1px solid black;
            }
        }
    }
}
